<div class="glass-card report-header">

    <h1>Business Report</h1>

    <p>
        Generated :
        @DateTime.Now.ToString("dd MMM yyyy hh:mm tt")
    </p>

    <a href="@Url.Action("DownloadPdf","Report")"
       class="btn-primary">

        <i class="ri-file-pdf-line"></i>

        Download PDF

    </a>

</div>


<div class="glass-card">

    <h2>Business Summary</h2>

    <table class="product-table">

        <tr>
            <td>Total Products</td>
            <td>@Model.TotalProducts</td>
        </tr>

        <tr>
            <td>Total Orders</td>
            <td>@Model.TotalOrders</td>
        </tr>

        <tr>
            <td>Low Stock Products</td>
            <td>@Model.LowStockProducts</td>
        </tr>

        <tr>
            <td>Total Revenue</td>
            <td>₹@Model.TotalRevenue</td>
        </tr>

    </table>

</div>


<br />

<div class="glass-card">

    <h2>Recent Orders</h2>

    <table class="product-table">

        <thead>

            <tr>

                <th>ID</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Status</th>
                <th>Amount</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.RecentOrders)
            {
                <tr>

                    <td>@item.OrderId</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ProductName</td>
                    <td>@item.Status</td>
                    <td>₹@item.TotalAmount</td>

                </tr>
            }

        </tbody>

    </table>

</div>

<br />

<div class="glass-card">

    <h2>Low Stock Products</h2>

    <table class="product-table">

        <thead>

            <tr>

                <th>Product</th>
                <th>Category</th>
                <th>Stock</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.LowStockList)
            {
                <tr>

                    <td>@item.ProductName</td>
                    <td>@item.Category</td>
                    <td>@item.Stock</td>

                </tr>
            }

        </tbody>

    </table>

</div>