@model ClotheManagementSystem.Models.Product

@{
    ViewBag.Title = "Add Product";
}

<div class="page-title">

    <div>

        <h1>Edit Product</h1>

        <p>Update existing product</p>



    </div>

</div>

<div class="glass-card">

    @using (Html.BeginForm("Edit", "Product", FormMethod.Post))

    {

        <div class="form-grid">

            <div class="form-group">
                @Html.HiddenFor(m => m.ProductId)
                @Html.HiddenFor(m => m.IsActive)

                <label>Product Name</label>

                @Html.TextBoxFor(m => m.ProductName,
                        new
                        {
                            @class = "form-control",
                            placeholder = "Enter Product Name"
                        })

            </div>

            <div class="form-group">

                <label>Category</label>

                @Html.TextBoxFor(m => m.Category,
                        new
                        {
                            @class = "form-control",
                            placeholder = "Category"
                        })

            </div>

            <div class="form-group">

                <label>Price</label>

                @Html.TextBoxFor(m => m.Price,
                        new
                        {
                            @class = "form-control",
                            type = "number"
                        })

            </div>

            <div class="form-group">

                <label>Stock</label>

                @Html.TextBoxFor(m => m.Stock,
                    new
                    {
                        @class = "form-control",
                        type = "number"
                    })

            </div>

            <div class="form-group full">

                <label>Description</label>

                @Html.TextAreaFor(m => m.Description,
                     new
                     {
                         @class = "form-control",
                         rows = "5",
                         placeholder = "Description"
                     })

            </div>

            <div class="form-group full">

                <label>Product Image</label>

                <div class="dummy-image">

                    <img src="https://placehold.co/120x120/png?text=👕"
                         alt="Product" />

                </div>

                @Html.HiddenFor(m => m.ImageUrl)

            </div>

        </div>

        <div class="form-actions">

            <button type="submit"
                    class="btn-primary">

                <i class="ri-save-3-line"></i>

                Update Product

            </button>

        </div>


    }
</div>